// Basic color palette provided by the design team for general layout
$color-black: #000;
$color-white: #fff;

$color-primary: #5C5C61;
$color-secondary: #F0F2F5;
$color-highlight: #2CD649;
$color-board: #3A3A3E;

$color-txt-primary: #3A3A3E;


//Misc
$color-error: #F8655B;
$color-disabled: #959598;
