.b-confirmation {

  &__title {
    margin-top: 65px;

    @include media(md) {
      margin-top: 120px;
    }
  }

  &__txt {
    margin-top: 35px;

    span {
      font-weight: bold;
    }
  }

  .btn {
    margin-top: 170px;
    width: 100%;

    @include media(md) {
      margin-top: 94px;
    }
  }
}
